.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {   
    -fx-background-color: tomato;
    -fx-stroke: transparent;
    -fx-size:50;
    -fx-alignment:center;
    -fx-text-alignment:center;

}

.table-row-cell:filled:hover {

    -fx-size:20;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
    
}

.table-row-cell:hover{
    
    -fx-background-color: #dddddd;
}


.table-view .table-cell{
    -fx-font-weight:bold;
    -fx-font-size:15px;
    -fx-text-fill:  #3D4956;
    -fx-font-family: Consolas;
    //the font size you asked i1n the comments below
    /* -fx-text-fill:orange; */
    

}
.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
    -fx-cursor: hand;

}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER 

}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-text-fill:  #3D4956;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}


.topbar:hover{
    
    -fx-background-color:tomato;
    -fx-cursor:hand;
    
}

#options{
    
    -fx-background-radius: 50;
    -fx-alignment: center;
    -fx-animated: true;
    
}
#options:hover{
    
    -fx-background-color: tomato;
    -fx-cursor: hand;
}

TextArea{
    
    -fx-alignment: center;
    
}

#return-btn,#menu-btn{

    -fx-background-color: transparent;
    -fx-background-radius: 0;

}

#return-btn:hover,#menu-btn:hover{

    -fx-background-color: tomato;
    -fx-cursor: hand;

}

#menu-btn:hover{
    
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #dddddd;
    
}

ListView {
    
    -fx-text-fill:  #3D4956;
}

#return-hover:hover{
    
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-cursor: hand;
    
}

.choice-box {
    
  -fx-background-color: white;
  -fx-mark-color: #3D4956;

  
}

.choice-box > .label { 
    -fx-text-fill: #3D4956;   
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.choice-box .context-menu { -fx-background-color:  #3D4956; }
.choice-box .menu-item:focused { -fx-background-color: orange; }
.choice-box .menu-item > .label { -fx-text-fill: white; }
.choice-box .menu-item:focused > .label { -fx-text-fill: #3D4956; }


.axis {
    -fx-font-size: 1.4em;    
    -fx-font-family: Tahoma;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}

.date-picker > .text-field {
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
    -fx-font-size:16px;
    -fx-font-weight:bold;
    -fx-alignment:CENTER;
}

.date-picker:focused > .text-field,
.date-picker > .text-field:focused {
    -fx-background-color:
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
    -fx-background-radius: 2 0 0 2, 1 0 0 1, 0;
}

